<app-student></app-student>
  <div class="container" >
    <div class="row" >
        <div class="col"  *ngFor="let questionPaper of questionPapers" style="margin-top:100px;">
            <div class="card" style="width: 18rem;">
               
                <div class="card-body">
                  <h5 class="card-title">{{questionPaper.quizname}}</h5>
                  <h5 class="card-title">Marks : {{questionPaper.totalmarks}}</h5>
                  <button class="btn btn-primary" (click)="attemptQuiz(questionPaper.paperid)">AttemptQuiz</button>
                </div>
              </div>
            </div>
    </div>
  </div>