


<nav class="navbar navbar-expand-lg navbar-darkt bg-light">
    <div class="container">
        <button class="btn btn-primary mg-lt-50"  (click)="login()">Login</button>
        &nbsp;
        <p>Online Quiz</p>
        &nbsp;
        <button class="btn btn-primary mg-lt-50"  (click)="signUp()">Signup</button>
        
        
    </div>
</nav>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="https://thumbs.dreamstime.com/z/web-development-programmer-engineering-website-coding-augmented-reality-interface-screens-developer-project-engineer-200585281.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Learn at your pace</h5>
          <p>Your knowledge, Our Priority</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/engineers-doing-development-operations-4152847-3455059.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Work Collaborately</h5>
          <p>We Work as a Whole Team</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://image.shutterstock.com/z/stock-vector-engineering-programmer-development-software-programming-concept-for-web-page-banner-1153395307.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Master Technologies</h5>
          <p>Get throuogh with the advannced technologies in the industry</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div align="center">
  <p class="details">****************All Copyrights Reserved****************</p>
</div>
