<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid" >
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item dropdown" style="margin-left:50px;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quiz
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><button class="dropdown-item" href="#" (click)="getAllQuiz('Aptitude')">Aptitude</button></li>
              <li><button class="dropdown-item" href="#" (click)="getAllQuiz('Technical')">Technical</button></li>
            </ul>
          </li>
          <li class="nav-item dropdown" style="margin-left:150px;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Grade book
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><button class="dropdown-item" href="#" (click)="getGradebook('Aptitude')">Aptitude</button></li>
              <li><button class="dropdown-item" href="#" (click)="getGradebookCategory()">Technical</button></li>
            </ul>
          </li>
        </ul>
        <div class="d-flex" style="margin-right:350px;">
        <button class="btn btn-outline-success" href="#" (click)="getOverAllGradebook()">OverAllGradebook</button>
      </div>
      <div class="d-flex">
          <button class="btn btn-outline-success" type="submit" (click)="logout()">Logout</button>
        </div>
        
       
      </div>
    </div>
  </nav>