<app-administrator></app-administrator>
<div class="container" >
    <div class="row" >
        <div class="col"  *ngFor="let student of students" style="margin-top:100px;">
            <div class="card" style="width: 18rem;">
               
                <div class="card-body">
                  <h5 class="card-title">Name: {{student.name}}</h5>
                  <h5 class="card-title">Emailid: {{student.emailid}}</h5>
                  <button class="btn btn-primary" (click)="getOverallGradebook(student.emailid)">ScoreCard</button>
                </div>
              </div>
            </div>
    </div>
  </div>