<app-student></app-student>
<div class="container" style="margin-top:100px;">
    <div class="row" >
        <div class="col" >
            <div class="card" style="width: 18rem;">
               
                <div class="card-body">
                  <h5 class="card-title">Java</h5>
                  
                  <button class="btn btn-primary" (click)="getGradebook('java')">Gradebook</button>
                </div>
              </div>     
        </div>
        <div class="col" >
          <div class="card" style="width: 18rem;">
             
              <div class="card-body">
                <h5 class="card-title">python</h5>
                
                <button class="btn btn-primary" (click)="getGradebook('python')">Gradebook</button>
              </div>
            </div>     
      </div>
      <div class="col" >
        <div class="card" style="width: 18rem;">
           
            <div class="card-body">
              <h5 class="card-title">Linux</h5>
              
              <button class="btn btn-primary" (click)="getGradebook('linux')">Gradebook</button>
            </div>
          </div>     
    </div>
    
      </div>
<div>

  
  
